<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">DATA DE NASCIMENTO</th>
      <th scope="col">CEP</th>
      <th scope="col">RUA</th>
       <th scope="col">TELEFONES</th>
    </tr>
  </thead>
  <tbody>
    {{# each pessoas}}
    <tr>
      <th>
        <a href="/show/{{this.id}}" class= "btn btn-primary btn-sm">VER</a>
        <a href="/show/{{this.id}}" class= "btn btn-success btn-sm">ATUALIZAR</a>
        <a href="/deletar/{{this.id}}" class= "btn btn-danger btn-sm">DELETAR</a>
      </th>
      <th scope="row">{{this.id}}</th>
      <td>{{this.nome}}</td>
      <td>{{this.email}}</td>
      <td>{{this.data_nascimento}}</td>
      {{# each this.telefone}}
        <td>{{this.numero}}</td>
    {{/ each}}
    </tr>
  </tbody>
</table>